target/
.classpath
.sass-cache
.project
.settings
src/main/resources/application.properties
src/main/webapp/resources/*
node_modules
bower_components
src/main/webapp/static/*
!src/main/webapp/static/.gitkeep