<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
        aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate="PROFESSOR"></h4>
</div>
<div class="modal-body">

    <label translate="PROFESSOR"></label>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-link"></span>
        </span>
        <select ng-model="professorRole.professorDTO.id" name="professor" class="form-control"
                describedby="duty-type-addon">
            <option ng-repeat="professor in professors" value="{{ professor.id }}">{{ professor.title }} {{ professor.lastName }} {{ professor.name }}</option>
        </select>
    </div>

    <label translate="ROLE"></label>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-link"></span>
        </span>
        <select ng-model="professorRole.role" name="role" class="form-control" describedby="duty-type-addon">
            <option value="Professor"> {{ 'PROFESSOR' | translate }}</option>
            <option value="Assistent">{{ 'ASSISTENT' | translate }}</option>
            <option value="Demonstrator">{{ 'DEMONSTRATOR' | translate}}</option>
        </select>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{ 'SAVE' | translate }}</button>
</div>
