<div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
               aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" translate="LOGIN"></h4>
</div>
<div class="modal-body">

	<!-- Username -->
   	<label for="user-username" translate="USERNAME"></label>
    <div class="input-group">
        <span class="input-group-addon" id="user-username-addon">
            <span class=" glyphicon glyphicon-user"></span>
        </span>
        <input ng-model="user.userName" type="username" id="user-username" name="userName" class="form-control" describedby="user-username-addon" placeholder="Username">
    </div>

    <!-- Password -->
    <label for="user-password" translate="PASS"></label>
    <div class="input-group">
        <span class="input-group-addon" id="user-password-addon">
            <span class=" glyphicon glyphicon-lock"></span>
        </span>
        <input ng-model="user.password" type="password" id="user-password" name="password" class="form-control" describedby="user-password-addon" placeholder="Password">
    </div>

    <div class="alert alert-warning" role="alert" ng-if="error">{{ error }}</div>

</div>
<div class="modal-footer">
   <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
   <button type="button" class="btn btn-primary" ng-click="ok()">{{ 'LOGIN' | translate }}</button>
</div>
