<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                        {{ studentsCtrl.user.isStudent }}
                <h4 class="modal-title" ng-if="user.isStudent">Add Student</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                     <!-- First Name -->
                     <div class="col-lg-6">
                         <label for="user-first-name">First Name</label>
                         <div class="input-group">
                             <span class="input-group-addon" id="user-first-name-addon">
                                 <span class=" glyphicon glyphicon-edit"></span>
                             </span>
                             <input ng-model="user.name" type="username" id="user-first-name" name="firstName" class="form-control" describedby="user-first-name-addon" placeholder="First Name">
                         </div>
                     </div>

                     <!-- Last Name -->
                     <div class="col-lg-6">
                         <label for="user-last-name">Last Name</label>
                         <div class="input-group">
                             <span class="input-group-addon" id="user-last-name-addon">
                                 <span class=" glyphicon glyphicon-edit"></span>
                             </span>
                             <input ng-model="user.lastName" type="username" id="user-last-name" name="lastName" class="form-control" describedby="user-last-name-addon" placeholder="Last Name">
                         </div>
                     </div>
                 </div>
                 
                 <!-- Username -->
                 <label for="user-username">Username</label>
                 <div class="input-group">
                     <span class="input-group-addon" id="user-username-addon">
                         <span class=" glyphicon glyphicon-user"></span>
                     </span>
                     <input ng-model="user.userName" type="username" id="user-username" name="username" class="form-control" describedby="user-username-addon" placeholder="Username">
                 </div>

                 <!-- Password -->
                 <label for="user-password">Password</label>
                 <div class="input-group">
                     <span class="input-group-addon" id="user-password-addon">
                         <span class=" glyphicon glyphicon-lock"></span>
                     </span>
                     <input ng-model="user.password" type="password" id="user-password" name="password" class="form-control" describedby="user-password-addon" placeholder="Password">
                 </div>

                 <!-- Password Again -->
                 <label for="user-password-again">Password Again</label>
                 <div class="input-group">
                     <span class="input-group-addon" id="user-password-again-addon">
                         <span class=" glyphicon glyphicon-lock"></span>
                     </span>
                     <input ng-model="user.passwordAgain" type="password" id="user-password-again" name="passwordAgain" class="form-control" describedby="user-password-again-addon" placeholder="Password Again">
                 </div>
                 
                 <div class="row">
                     <!-- Date of Birth -->
                     <div class="col-lg-6">
		                 <label for="user-date-of-birth">Date of Birth</label>
		                 <div class="input-group">
		                     <span class="input-group-addon" id="user-date-of-birth-addon">
		                         <span class=" glyphicon glyphicon-calendar"></span>
		                     </span>
		                     <input ng-model="user.dateOfBirth" type="date" id="user-password-again" name="dateOfBirth" class="form-control" describedby="user-date-of-birth-addon" placeholder="Date of Birth">
		                 </div>
	                 </div>

                     <!-- Gender -->
                     <div class="col-lg-6">
		                 <label for="user-gender">Gender</label>
		                 <div class="input-group">
		                     <span class="input-group-addon" id="user-gender-addon">
		                         <span class="glyphicon glyphicon-link"></span>
		                     </span>
		                     <select ng-model="user.gender" id="user-date-of-birth" name="dateOfBirth" class="form-control" describedby="user-gender-addon">
		                     	<option value="male">Male</option>
		                     	<option value="female">Female</option>
		                     </select>
		                </div>
	                </div>
                 </div>
                 
                 <!-- Address -->
                 <label for="user-address-again">Address</label>
                 <div class="input-group">
                     <span class="input-group-addon" id="user-address-addon">
                         <span class=" glyphicon glyphicon-home"></span>
                     </span>
                     <input ng-model="user.address" type="text" id="user-address" name="address" class="form-control" describedby="user-address-addon" placeholder="Address">
                 </div>
                 
                 <!-- JMBG -->
                 <label for="user-jmbg-again">JMBG</label>
                 <div class="input-group">
                     <span class="input-group-addon" id="user-jmbg-addon">
                         <span class=" glyphicon glyphicon-edit"></span>
                     </span>
                     <input ng-model="user.jmbg" type="text" id="user-jmbg" name="jmbg" class="form-control" describedby="user-jmbg-addon" placeholder="Enter JMBG">
                 </div>
                 
                 <!-- Student ID -->
                 <div ng-if="user.isStudent">
	                 <label for="user-student-id">Student ID</label>
	                 <div class="input-group">
	                     <span class="input-group-addon" id="user-student-id-addon">
	                         <span class="glyphicon glyphicon-edit"></span>
	                     </span>
	                     <input ng-model="user.studentId" type="text" id="user-student-id" name="studentId" class="form-control" describedby="user-student-id-addon" placeholder="Student ID">
	                 </div>
                 </div>
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="clickHidePopupUser()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="clickSaveUser()">Save</button>
            </div>
        </div>
    </div>
</div>