<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
        aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-if="user.isProfessor" translate="ADDPROFESSOR"></h4>
    <h4 class="modal-title" ng-if="user.isStudent" translate="ADDSTUDENT"></h4>
</div>
<div class="modal-body">

    <div class="row">
        <!-- First Name -->
        <div class="col-lg-6">
            <label translate="FIRSTNAME"></label>
            <div class="input-group">
                <span class="input-group-addon" id="user-first-name-addon">
                    <span class=" glyphicon glyphicon-edit"></span>
                </span>
                <input ng-model="user.name" type="username" class="form-control" placeholder="First Name">
            </div>
        </div>

        <!-- Last Name -->
        <div class="col-lg-6">
            <label translate="LASTNAME"></label>
            <div class="input-group">
               <span class="input-group-addon" id="user-last-name-addon">
                   <span class=" glyphicon glyphicon-edit"></span>
               </span>
                <input ng-model="user.lastName" type="username" class="form-control" placeholder="Last Name">
            </div>
        </div>
    </div>

    <!-- Username -->
    <label translate="USERNAME"></label>
    <div class="input-group">
       <span class="input-group-addon">
           <span class=" glyphicon glyphicon-user"></span>
       </span>
        <input ng-model="user.userName" type="username" class="form-control" placeholder="Username">
    </div>

    <!-- Password -->
    <label translate="PASS"></label>
    <div class="input-group">
       <span class="input-group-addon">
           <span class=" glyphicon glyphicon-lock"></span>
       </span>
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
    </div>

    <!-- Password Again -->
    <label translate="PASSAGAIN"></label>
    <div class="input-group">
       <span class="input-group-addon">
           <span class=" glyphicon glyphicon-lock"></span>
       </span>
        <input ng-model="user.passwordAgain" type="password" class="form-control" placeholder="Password Again">
    </div>

    <div class="row">
        <!-- Date of Birth -->
        <div class="col-lg-6">
            <label translate="DATEOFBIRTH"></label>
            <div class="input-group">
		        <span class="input-group-addon">
		            <span class=" glyphicon glyphicon-calendar"></span>
		        </span>
                <input ng-model="user.dateOfBirth" type="date" class="form-control" placeholder="Date of Birth">
            </div>
        </div>
        <!-- Gender -->
        <div class="col-lg-6">
            <label translate="GENDER"></label>
            <div class="input-group">
		        <span class="input-group-addon">
		            <span class="glyphicon glyphicon-link"></span>
		        </span>
                <select ng-model="user.gender" id="user-date-of-birth" name="dateOfBirth" class="form-control"
                        describedby="user-gender-addon">
                    <option value="male"> {{ 'MALE' | translate }} </option>
                    <option value="female"> {{ 'FEMALE' | translate }} </option>
                </select>
            </div>
        </div>
    </div>

    <!-- Address -->
    <label translate="ADRESS"></label>
    <div class="input-group">
      <span class="input-group-addon">
          <span class=" glyphicon glyphicon-home"></span>
      </span>
        <input ng-model="user.address" type="text" class="form-control" placeholder="Address">
    </div>

    <!-- JMBG -->
    <label translate="UNIQUEID"></label>
    <div class="input-group">
      <span class="input-group-addon">
          <span class=" glyphicon glyphicon-edit"></span>
      </span>
        <input ng-model="user.jmbg" type="text" name="jmbg" class="form-control" placeholder="Enter JMBG">
    </div>

    <!-- Student ID -->
    <div ng-if="user.isStudent">
        <label translate="STUDENTID"></label>
        <div class="input-group">
	      <span class="input-group-addon">
	          <span class="glyphicon glyphicon-edit"></span>
	      </span>
            <input ng-model="user.studentId" type="text" class="form-control" placeholder="Student ID">
        </div>
    </div>

    <!-- Professor title -->
    <div ng-if="user.isProfessor">
        <label translate="PROFTITLE"></label>
        <div class="input-group">
            <span class="input-group-addon" id="user-student-id-addon">
                <span class="glyphicon glyphicon-edit"></span>
            </span>
            <input ng-model="user.title" type="text" class="form-control" placeholder="Title">
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'CLOSE' | translate }}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{ 'SAVE' | translate }}</button>
</div>
