<div class="row">

	<div class="col-sm-1"></div>
	
	<div class="col-sm-9">

		<div class="row">
		    <div class="col-sm-4">
		        <div class="thumbnail">
		            <img src="/static/images/f.jpg" alt="Filip Bekić, Serbia">
		            <div class="caption">
		                <h3>Filip Bekić</h3>
		                <p translate="FILIPB"></p>
		            </div>
		        </div>
		    </div>
		
		    <div class="col-sm-4">
		        <div class="thumbnail">
		            <img src="/static/images/a.jpg" alt="Aleksandar Stanković, Serbia">
		            <div class="caption">
		                <h3>Aleksandar Stanković</h3>
		                <p translate="ALX"></p>
		            </div>
		        </div>
		    </div>
		    
		    <div class="col-sm-4">
		        <div class="thumbnail">
		            <img src="/static/images/m.png" alt="Aleksandar Stanković, Serbia">
		            <div class="caption">
		                <h3>Filip Marjanović</h3>
		                <p translate="FILIPM"></p>
		            </div>
		        </div>
		    </div>
		    
	    </div>
    
    </div>
    
    <div class="col-sm-1"></div>
    
</div>