<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span> {{ user.name }}'s {{ 'DETAILS' | translate }}
                <a href="" style="float:right" ng-click="openModal(user)" class="btn btn-primary btn-xs"
                   role="button">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'EDITPROFILEDATA' | translate }}
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img ng-if="!user.picturePath" class="img-responsive img-thumbnail"
                             src="/static/images/profile.png"/>
                        <img ng-if="user.picturePath" class="img-responsive img-thumbnail"
                             src="{{user.picturePath}}"/>
                        <a href="" style="float:right" ngf-select="uploadPicture($file)" accept="*/*"
                           class="btn btn-success btn-xs" role="button">
                            <i class="fa fa-spinner fa-spin fa-fw" ng-if="loading"></i>
                            <i class="fa fa-edit fa-fw" ng-if="!loading"></i>
                            {{ 'UPLOADNEWPICTURE' | translate }}
                        </a>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-striped">
                            <tr>
                                <th>{{ 'NAME' | translate }}:</th>
                                <td>{{ user.lastName }} {{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'USERNAME' | translate }}:</th>
                                <td>{{ user.userName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'GENDER' | translate }}:</th>
                                <td>{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'DATEOFBIRTH' | translate }}:</th>
                                <td>{{ user.dateOfBirth | date:'yyyy-MM-dd'}}</td>
                            </tr>
                            <tr>
                                <th>{{ 'ADRESS' | translate }}:</th>
                                <td>{{ user.address }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'UNIQUEID' | translate }}:</th>
                                <td>{{ user.jmbg }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'PROFESSORID' | translate }}:</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'PROFESSORTITLE' | translate }}:</th>
                                <td>{{ user.title }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-book"></span> {{ 'SUBJECTS' | translate }}
            </div>
            <table class="table table-striped">
                <tr>
                    <th>{{ 'SUBJECT' | translate }}</th>
                    <th>{{ 'ROLE' | translate }}</th>
                </tr>
                <tr ng-repeat="professorRole in professorRoles">
                    <td><a href="/#/subjects/{{ professorRole.subjectDTO.id }}">{{ professorRole.subjectDTO.name }}</a></td>
                    <td>{{ professorRole.role }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
