<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span> {{ user.name }}'s {{ 'DETAILS' | translate }}
                <a href="" style="float:right" ng-click="openModal(user)" class="btn btn-primary btn-xs"
                   role="button">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'EDITPROFILEDATA' | translate }}
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <img class="img-responsive img-thumbnail" src="/static/images/profile.png"/>
                    </div>
                    <div class="col-lg-9">
                        <table class="table table-striped">
                            <tr>
                                <th>{{ 'NAME' | translate }}:</th>
                                <td>{{ user.lastName }} {{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'USERNAME' | translate }}:</th>
                                <td>{{ user.userName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'GENDER' | translate }}:</th>
                                <td>{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'DATEOFBIRTH' | translate }}:</th>
                                <td>{{ user.dateOfBirth | date:'yyyy-MM-dd'}}</td>
                            </tr>
                            <tr>
                                <th>{{ 'ADRESS' | translate }}:</th>
                                <td>{{ user.address }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'UNIQUEID' | translate }}:</th>
                                <td>{{ user.jmbg }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'STUDENTID' | translate }}:</th>
                                <td>{{ user.studentId }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-book"></span> {{ 'SUBJECTS' | translate }}
            </div>
            <ul class="list-group">
                <li ng-click="goTo(subject.id)" ng-repeat="subject in subjects" class="list-group-item oneStudent"><span>{{ subject.name }}</span></li>
            </ul>
        </div>
	</div>
	<div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-calendar"></span> {{ 'OBLIGATIONS' | translate }}
            </div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio <span style="float:right;color:#00A000" class="glyphicon glyphicon-ok-sign"></span></li>
                <li class="list-group-item">Dapibus ac facilisis in <span style="float:right;color:#A00000" class="glyphicon glyphicon-remove-sign"></span></li>
                <li class="list-group-item">Morbi leo risus <span style="float:right;color:#ba9d37" class="glyphicon glyphicon-question-sign"></span></li>
                <li class="list-group-item">Porta ac consectetur ac <span style="float:right;color:#00A000" class="glyphicon glyphicon-ok-sign"></span></li>
                <li class="list-group-item">Vestibulum at eros <span style="float:right;color:#00A000" class="glyphicon glyphicon-ok-sign"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-hdd"></span> {{ 'DOCUMENTS' | translate }}
                <a href="" style="float:right" ngf-select="uploadFile($file)" accept="*/*" class="btn btn-success btn-xs" role="button">
                    <i class="fa fa-spinner fa-spin fa-fw" ng-if="loading"></i>
                    <i class="fa fa-edit fa-fw" ng-if="!loading"></i>
                    {{ 'UPLOADNEWFILE' | translate }}
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped">
                            <tr>
                                <th colspan="4">{{ 'DOCNAME' | translate }}</th>
                            </tr>
                            <tr ng-repeat="file in files">
                                <td><a href="" ng-click="downloadFile(file.id)">{{ file.name }}</a></td>
                                <td>
                                	<a ng-if="file.isPdf" href="" style="float:right" ng-click="previewFile(file.id)" class="btn btn-success btn-xs" role="button">
					                    <i class="fa fa-file-pdf-o"></i>
					                    {{ 'PREVIEW' | translate }}
					                </a>
                                </td>
                                <td>
                                	<a href="" style="float:right" ng-click="downloadFile(file.id)" class="btn btn-success btn-xs" role="button">
					                    <i class="fa fa-cloud-download"></i>
					                    {{ 'DOWNLOAD' | translate }}
					                </a>
                                </td>
                                <td style="text-align:right">
                                    <a class="btn btn-danger btn-xs" ng-click="deleteModal(file.id)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
