<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-university fa-fw"></i> {{ 'CDETAILS' | translate }}
				<a ng-if="hasRole(['professor']) || hasRole(['user'])" href="" ng-click="editSubject(subject)" style="float:right" class="btn btn-primary btn-xs" role="button">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'EDIT' | translate }}
                </a>
			</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr><th>{{ 'NAME' | translate }}: </th><td>{{ subject.name }}</td></tr>
                    <tr><th>{{ 'SEMESTER' | translate }}: </th><td>{{ subject.semester }}</td></tr>
                    <tr><th>{{ 'DESCR' | translate }}: </th><td>{{ subject.description }}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-fw"></i> {{ 'DUTIES' | translate }}
                <a ng-if="hasRole(['professor']) || hasRole(['user'])" href="" ng-click="openModal(duty)" style="float:right" class="btn btn-success btn-xs" role="button">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'CREATENEW' | translate }}
                </a>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>{{ 'TYPEOFDUTY' | translate }}</th>
                        <th>{{ 'MAXPOINTS' | translate  }}</th>
                        <th>{{ 'DATE' | translate }}</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="duty in duties | orderBy : 'date'">
                        <td>{{ duty.typeOfDuty }}</td>
                        <td>{{ duty.maxPoints }}</td>
                        <td>{{ duty.date | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td style="text-align:right">
                            <a ng-if="hasRole(['professor']) || hasRole(['user'])" href="" ng-click="findExams(duty)" class="btn btn-info btn-xs" role="button">
                                <i class="fa fa-bars fa-fw"></i> {{ 'RESULTS' | translate }}
                            </a>

                            <a ng-if="hasRole(['professor']) || hasRole(['user'])" href="" ng-click="dutyExam(duty)" class="btn btn-success btn-xs" role="button">
                                <span class="glyphicon glyphicon-plus"></span> {{ 'ADDRESULT' | translate }}
                            </a>
                            <a ng-if="hasRole(['professor']) || hasRole(['user'])" class="btn btn-danger btn-xs" role="button" ng-click="deleteDuty(duty.id)">
                                <span class="glyphicon glyphicon-remove"></span> {{ 'DELETE' | translate }}
                            </a>
                            <a ng-if="hasRole(['professor']) || hasRole(['user'])" class="btn btn-primary btn-xs" role="button" ng-click="openModal(duty)">
                                <span class="glyphicon glyphicon-pencil"></span> {{ 'EDIT' | translate }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> {{ 'PROFESSORS' | translate }}
                <a ng-if="hasRole(['professor']) || hasRole(['user'])" href="" ng-click="openModalAddProfessor(subject)" style="float:right" class="btn btn-success btn-xs" role="button">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'CREATENEW' | translate }}
                </a>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>{{ 'PROFESSOR' | translate }}</th>
                        <th>{{ 'ROLE' | translate }}</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="professorRole in professorRoles">
                        <td><a href="/#/professors/{{ professorRole.professorDTO.id }}">{{ professorRole.professorDTO.title }} {{ professorRole.professorDTO.name }} {{ professorRole.professorDTO.lastName }}</a></td>
                        <td>{{ professorRole.role }}</td>
                        <td style="width:100px;text-align:right;">
                            <a ng-if="hasRole(['professor']) || hasRole(['user'])" class="btn btn-danger btn-xs" role="button" ng-click="deleteProfessorRole(professorRole.id)">
                                <span class="glyphicon glyphicon-remove"></span> {{ 'DELETE' | translate }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check fa-fw"></i> {{ 'ATTENDINGSTUDENTS' | translate }}
                <button ng-if="hasRole(['professor']) || hasRole(['user'])" type="hidden" style="float:right" class="btn btn-xs btn-primary" style="float: right" ng-click="save()"><i class="fa fa-save fa-fw"></i> {{ 'SAVE' | translate }}</button>
            </div>
            <div class="panel-body">
                <ul class="dragAndDrop" dnd-list="dnd.listOfAttendingStudents">
                    <li ng-repeat="student in dnd.listOfAttendingStudents"
                        dnd-draggable="student"
                        dnd-moved="dnd.listOfAttendingStudents.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="dnd.selectedStudent = student"
                        ng-class="{ 'selected' : dnd.selectedStudent === student }">
                        {{student.lastName}} {{student.name}} {{ student.studentId }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="hasRole(['professor']) || hasRole(['user'])" class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group" style="margin-bottom: 0px;">
                    <span class="input-group-addon" id="sizing-addon3x"><i class="fa fa-search fa-fw"></i></span>
                    <input ng-change="search()" type="text" ng-model="searchText" class="form-control" placeholder="Search for student..." aria-describedby="sizing-addon3x">
                </div>
            </div>
            <div class="panel-body">
                <ul class="dragAndDrop" dnd-list="dnd.listOfAllStudents">
                    <li  ng-repeat="student in dnd.listOfAllStudents"
                        dnd-draggable="student"
                        dnd-moved="dnd.listOfAllStudents.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="dnd.selectedStudent = student"
                        ng-class="{ 'selected' : dnd.selectedStudent === student }">
                        	{{student.lastName}} {{student.name}} {{ student.studentId }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
