<div class="row makeitboxy">
    <div class="col-lg-12">
        <div class="panel panel-default">
			<div class="panel-heading">
			    {{ 'SUBJECTS' | translate }}
			    <a href="" ng-click="openModal()" style="float:right" class="btn btn-success btn-xs" role="button">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'CREATENEW' | translate }}
                </a>
			</div>
			<table class="table table-striped">
			  <tr>
			    <th translate="ID"></th>
			    <th translate="DESCR"></th>
			    <th translate="NAME"></th>
			    <th translate="SEMESTER"></th>
			    <th></th>
			    <th></th>
			  </tr>
			  <tr ng-repeat="subject in subjects">
			    <td>{{subject.id}}</td>
			    <td>{{subject.description}}</td>
			    <td>{{subject.name}}</td>
			    <td>{{subject.semester}}</td>
				<td style="width:100px;text-align:right;">
			        <a href="" class="btn btn-danger btn-xs" role="button" ng-click="clickDeleteSubject(subject.id)">
			            <span class="glyphicon glyphicon-remove"></span> {{ 'DELETE' | translate }}
			        </a>
			    </td>
			    <td style="width:65px;text-align:right;">
			        <a href="" class="btn btn-primary btn-xs" ng-click="openModal(subject)"
			           data-toggle="modal" data-target="#editUserModal" role="button">
			            <span class="glyphicon glyphicon-pencil"></span> {{ 'EDIT' | translate }}
			        </a>
			    </td>
			  </tr>
			</table>
		</div>
	</div>
</div>