<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-university fa-fw"></i> Course Details
				<a href="" ng-click="" style="float:right" class="btn btn-success btn-xs" role="button">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
			</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr><th>Name: </th><td>{{ subject.name }}</td></tr>
                    <tr><th>Semester: </th><td>{{ subject.semester }}</td></tr>
                    <tr><th>Description: </th><td>{{ subject.description }}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check fa-fw"></i> Attending Students
                <button type="hidden" style="float:right" class="btn btn-xs btn-primary" style="float: right" ng-click="save()">Save</button>
            </div>
            <div class="panel-body">
                <ul class="dragAndDrop" dnd-list="dnd.listOfAttendingStudents">
                    <li ng-repeat="student in dnd.listOfAttendingStudents"
                        dnd-draggable="student"
                        dnd-moved="dnd.listOfAttendingStudents.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="dnd.selectedStudent = student"
                        ng-class="{ 'selected' : dnd.selectedStudent === student }">
                        {{student.lastName}} {{student.name}} {{ student.studentId }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- <i class="fa fa-times fa-fw"></i> Not Attending Students -->
                <i class="fa fa-search fa-fw"></i> <input ng-change="search()" ng-model="searchText" type="search" style="width:90%" placeholder="Search for users..."/>
            </div>
            <div class="panel-body">
                <ul class="dragAndDrop" dnd-list="dnd.listOfAllStudents">
                    <li  ng-repeat="student in dnd.listOfAllStudents"
                        dnd-draggable="student"
                        dnd-moved="dnd.listOfAllStudents.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="dnd.selectedStudent = student"
                        ng-class="{ 'selected' : dnd.selectedStudent === student }">
                        	{{student.lastName}} {{student.name}} {{ student.studentId }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
