<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/"><span style="font: calibri" class="glyphicon glyphicon-education" aria-hidden="true" translate="FTN"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-show="auth">
                <li><a href="/#/search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;&nbsp;Search</a></li>
            </ul>
            <ul ng-hide="auth" class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ng-click="openModalLogin()">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true" translate="LOGIN"></span>
                     
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#registerModal">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true" translate="REGISTER"></span>
                       
                    </a>
                </li>
                <li>
                	<div ng-controller="LanguageSwitchController">
					  <button style="margin-top: 5px" class="btn btn-primary" ng-show="lang == 'en'" ng-click="changeLanguage('ar')" translate="BUTTON_LANG_AR"></button>
					  <button style="margin-top: 5px" class="btn btn-primary" ng-show="lang == 'ar'" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
					</div>
                </li>
            </ul>
            <ul ng-show="auth" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ auth.firstName }} {{ auth.lastName }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="clickEditUser(auth)" data-toggle="modal" data-target="#editUserModal">Edit My Profile</a></li>
                        <li><a href="" ng-click="clickEditPassword(auth)" data-toggle="modal" data-target="#changePasswordModal">Change My Password</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-show="auth.type == '1'" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Manager <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/#/manage/books">Manage Books</a></li>
                        <li><a href="/#/manage/categories">Manage Categories</a></li>
                        <li><a href="/#/manage/languages">Manage Languages</a></li>
                        <li><a href="/#/manage/users">Manage Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>